body {background-color: background-image: linear-gradient(to bottom right, #28190E, #513C2C, #15B097);}

h1 {font-size: 100px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;}

p {font-size: 30px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;}

h2 {font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}   